h1 {
  font-size: 36px;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 1100px;
  height: 500px;
  border: 1px solid black;
}

canvas {
  border: 1px solid black;
  margin: auto;
  display: block;
  margin-top: 50px;
}
